@model IEnumerable<YSManagmentSystem.Domain.Order.OrderItemList>
@{
    ViewData["Title"] = "OrderItem";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<h1>Order Item List</h1>

<div class="container-fluid">
 <div class="card text-center">
  <div class="card-body">
    <div class="row">
     <div class="col-md-6">
        <h6>Order Number : @ViewBag.ONum</h6>
     </div>
    <div class="col-md-6">
        <h6>Customer Name : @ViewBag.CName</h6>
    </div>
  </div>
 </div>
 </div>
</div>
<br />



    <div class="container-fluid">
        <div class="card text-center">
            <div class="card-body">
    <div class="row">
        <div class="col-md-12">

            <table class="table">
                <thead>
                    <tr>
                        
                        <th>
                            Product Name
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Total
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Total)
                            </td>
                            
                        </tr>
                    }
                </tbody>
            </table>


        </div>
    </div>
</div>
</div>
</div>