@model YSManagmentSystem.Domain.Order.Customer

@{
    Layout = null;
}

<h1>Customer Detail</h1>


<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerAddress)
        </dd>
    </dl>
</div>



<script>
    $(document).ready(function () {
        $('#myTableCustomer').DataTable();
    });
</script>